body{
    background-color: bisque;
    margin: 10px;
    font-style: italic;
}
#sp{
    background-color: rgb(238, 230, 220);
    padding: 5px;
}
#co{
    float: right;
}
#aa{
    float: right;
}
#hb{
    margin: 15px;
    margin-left: 55px;
    padding: 15px;
    margin-right: 1325px;
}   
#fu{
    background-color: rgb(223, 233, 230);
}
footer{
    background-color: rgb(15, 15, 14);
}
#se{
    margin: 100px;
    margin-top: 40px;
    background-color: rgb(198, 233, 103);    
}
img{
        display: block;
        margin: 0%;
        width: 260px;
        padding: 3px;
        height: 170px;
        background-color: white;
}
#he{
    margin: 35px;
}
}
h1{
    text-align: center;
    font-style:inherit;
}
#ge{
    text-align: center;
}
#mg{
    content: "";
    display: block;
    border-radius: 70%;
    width: 320px;
    height: 250px;
    z-index: 1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}